<div>
    <a data-toggle="modal" onclick="{{name}}.settings()" class="btn btn-primary btn-small">Settings</a>
</div>

<div>
    <ul style="list-style: none; padding: 0px; margin: 0px;">
        {% for tweet in tweets %}
        <li style="font-size: 80%;">
            {{tweet.user_name}}<br/>{{tweet.text}}
        </li>
        {% endfor %}
    </ul>
</div>