<div class="modal-header">
    <h3>Twitter Settings</h3>
</div>
<div class="modal-body">
    {% include 'userinformation.html' %}
    {% if not account %}
    {% include 'accountsetup.html' %}
    {% endif %}
</div>

<div class="modal-footer">
    <a onclick="{{name}}.exitSettings()" class="btn btn-primary">Close</a>
</div>