{% if account %}
<table>
    <tr>
        <td><b>Screen Name:</b></td><td>{{account['screen_name']}}</td>
        <td rowspan="2"><img src="{{account['profile_image_url']}}" /></td>
    </tr>
    <tr>
        <td><b>Name:</b></td><td>{{account['name']}}</td>
    </tr>
</table>
<a onclick="{{name}}.resetUser(this)" class="btn btn-danger">Reset User</a>
{% else %}
<p>No Account.</p>
{% endif %}
